/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 5px;
}
html::-webkit-scrollbar-track{
    background-color:rgb(255, 255, 255);
}
html::-webkit-scrollbar-thumb{
    background: green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100px;
}

.categories::-webkit-scrollbar{
   display: none;
}

.categories-items::-webkit-scrollbar{
    width: 5px;
}
.categories-items::-webkit-scrollbar-track{
    background-color: #ffffff;
}
.categories-items::-webkit-scrollbar-thumb{
    background-color: green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.frame{
    filter: drop-shadow(25px 25px 25px rgba(0 0 0 / 0.3)); 
    
}
.main-title{
    font-family: 'Protest Revolution', sans-serif;
}